body{
    margin:0;
    background:url("../image/weather.jpg");
    background-size:cover;
}
.display-background{
    height:100vh;
    background:rgba(0,0,0,0.2);
    display:flex;
    flex-direction:column;
    
}
header{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    overflow:auto;
    color:white;
    /*text-align:center;*/
    align-items:center;
    margin:20px 50px;
    overflow:visible;
}
main{
    display:flex;
    justify-content:flex-end;
    flex-direction:column;
    margin:20px 50px;
    text-align:center;
    color:white;
    overflow:auto;
    flex-grow:1;
}
.menu{
    flex-grow:1;
}
.menu-item{
    display:inline-block;
    padding:0 5px;
}
.radio-container{
    position:relative;
    display:inline-block;
    margin:10px;
}
.radio-button{
    display:inline-block;
    position:absolute;;
    height:1em;
    width:1em;
    vertical-align:baseline;
    border:2px #aaaaaa solid;
    border-radius: 50%;
    top:0;
    bottom:0;
    left:0;
    margin:auto;
    font-size:0.7em;
    transition:all 0.3s;
}
.radio-container > input[type="radio"]{
    visibility:hidden;
    margin:0;

}
.radio-container:hover{
    opacity:0.8;
    cursor:pointer;
}
.radio-button::before{
    content:"";
    position:absolute;
    height:0.5em;
    width:0.5em;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    /*top:0;
    left:0;
    bottom:0;
    right:0;
    margin:auto;*/
    display:inline-block;
    background:#aaaaaa;
    border-radius: 50%;
    transition:all 0.3s;
}
.radio-container > input[type="radio"] + span{
    transition:all 0.3s;
}
.radio-container > input[type="radio"]:checked ~ .radio-button{
    border-color: #0cf
}
.radio-container > input[type="radio"]:checked ~ .radio-button::before{
    background: #0cf
}
.radio-container > input[type="radio"]:checked + *{
    color:#0cf;
}
.weather{
    flex-grow:1;
}
.search-bar{
    flex-grow:1;
    visibility:hidden;
}
.search-bar input{
   display:inline-block;
   max-width:100px;
   border:0;
   background:rgba(255,255,255,0.5);
   padding:6px 8px;
}
.search-bar form{
    float:right;
}
.search-bar form::after{
    content:"";
    clear:both;
    display:table;
}
.search-area{
    display:inline-block;
    position:relative;
    color:white;
}
.search-icon{
    position:absolute;
    right:3px;
    top:6px;
}
.search-result{
    position:absolute;
    top:101%;
    left:0;
    /*display:none;*/
}

.location{
    font-size:32px;
    margin-bottom:10px;
}
.weather-location>div{
    text-align:center;
}
.temp-show{
    margin: 30px 0;
    text-align: left;
    
}
.weather-detail{
    display:flex;
    justify-content:flex-start;
}
.weather-detail>div{
    padding:20px;
}
.temp{
    font-size:64px;
    font-weight:100;
    font-family:sans-serif, monospace;
}
.temp::after{
    content:"\00b0";
    /*vertical-align:top;
    font-size: 24px;
    padding-top:5px;*/
}
.weather-icon{
    padding-right:10px;
}
.weather-humidity::before{
    content:"";
    display:inline-block;
    width:1rem;
    height:1rem;
    background:#0cf;
    vertical-align: text-bottom;
    border-radius:100% 0 60% 50%/60% 0 100% 50%;
    transform: rotate(-45deg) scale(0.7);
    margin-bottom:2px;
    margin-left:2px;
}
.weather-wind::after{
    content:"m/s";
}
.weather-humidity::after{
    content:"%";
}
.temp-max::before{
    content:"\2191  ";
    color:#0cf;
}
.temp-min::before{
    content:"\2193  ";
    color:#0cf;
}

@media (max-width:600px){
    .search-area{
        /*position:absolute;*/
        /*right:10px;*/
        box-sizing:border-box;
        width:0px;
        transition:width 1s;
    }
    .search-area input{
        padding-left:0;
        padding-right:0;
        width:inherit;
    }
    .search-area:hover{
        width:100px;
    }
}



